body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    display: grid;
    background-color: #1e1e2f;
    padding: 20px;
    grid-template-columns: repeat(4,1 fr);
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
}


#demo {
    background-color: #000;
    color: #ffffff;
    font-size: 2rem;
    text-align: right;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.btn {
    font-size: 1.2rem;
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.operator-btn{
        background-color: #ffbf00;
        color: #fff;
        font-weight: bold;
}

.function-btn{
        background-color: #ffbf00;
        color: #fff;
        font-weight: bold;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
}